---
category: 'Sponsors'
title: 'Sponsors'
---

%h1.h1.text-center
  = current_resource.data.title
%h2.h2.text-center
  Diamond

.sponsors
  .card-deck
    .card{style: "width: 15rem;"}
      = image_tag "Drexel_Vertical_stacked_479.png", :class=> "card-img-top", :alt => "%p Drexel University School of Biomedical Engineering, Science and Health Systems"
      .card-body
        %p.card-text School of Biomedical Engineering, Science and Health Systems
        = link_to "Visit Website", "https://drexel.edu/biomed", :class => "card-link"

    .card{style: "width: 15rem;"}
      = image_tag "afrl-logo.png", :class=> "card-img-top", :alt => "%p Air Force Research Lab (AFRL)"
      .card-body
        %p.card-text Air Force Research Lab (AFRL)
        = link_to "Visit Website", "http://www.wpafb.af.mil/afrl/", :class => "card-link"

    .card{style: "width: 15rem;"}
      = image_tag "biopac-systems-inc-logo.png", :class=> "card-img-top", :alt => "%p Air Force Research Lab (AFRL)"
      .card-body
        %p.card-text Biopac Systems Inc.
        = link_to "Visit Website", "https://biopac.com", :class => "card-link"

  %h2.h2.text-center
    Platinum
  .card{style: "width: 12rem;"}
    = image_tag "frontiers-logo.png", :class=> "card-img-top", :alt => "%p Frontiers"
    .card-body
      %p.card-text Frontiers
      = link_to "Visit Website", "https://frontiersin.org", :class => "card-link"

  %h2.h2.text-center
    Gold
  .card{style: "width: 10rem;"}
    = image_tag "gtec_logo_manual.jpg", :class=> "card-img-top", :alt => "%p g.tec"
    .card-body
      %p.card-text g.tec
      = link_to "Visit Website", "http://gtec.at", :class => "card-link"