%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.rounded-top{:role => "navigation"}
  %button.navbar-toggler{:type => "button", "data-toggle" => "collapse", "data-target" => "#navbarSupportedContent", "aria-controls" => "navbarSupportedContent", "aria-expanded" => false, "aria-label" => "Toggle navigation"}
    %span.navbar-toggler-icon
  .collapse.navbar-collapse.nav-tabs#navbarSupportedContent
    %ul.navbar-nav.mr-auto{:role => "presentation"}
      %li.nav-item.dropdown
        - if current_resource.data.category == "Home"
          %a.nav-link.dropdown-toggle.active{:href => "#", "data-toggle" => "dropdown", :role => "button", "aria-haspopup" => "true", "aria-expanded" => "false"}
            Neuroergonomics 2018
        - elsif current_resource.data.category != "Home"
          %a.nav-link.dropdown-toggle{:href => "#", "data-toggle" => "dropdown", :role => "button", "aria-haspopup" => "true", "aria-expanded" => "false"}
            Neuroergonomics 2018
        .dropdown-menu
          - sitemap.resources.group_by { |f| f.data['category'] }['Home'].reverse.each do |p|
            = link_to p.data.title, "#{prefix}#{p.path}", class: 'dropdown-item'

      - if current_resource.data.category == "Call for Abstracts"
        %li.nav-item
          = link_to sitemap.resources.group_by { |f| f.data['category'] }['Call for Abstracts'][0].data.title, prefix + "#{sitemap.resources.group_by { |f| f.data['category'] }['Call for Abstracts'][0].path}", class: "nav-link active"
      - if current_resource.data.category != "Call for Abstracts"
        %li.nav-item
          = link_to sitemap.resources.group_by { |f| f.data['category'] }['Call for Abstracts'][0].data.title, prefix + "#{sitemap.resources.group_by { |f| f.data['category'] }['Call for Abstracts'][0].path}", class: "nav-link"



      - if current_resource.data.category == "Submissions"
        %li.nav-item
          = link_to sitemap.resources.group_by { |f| f.data['category'] }['Submissions'][0].data.title, prefix + "#{sitemap.resources.group_by { |f| f.data['category'] }['Submissions'][0].path}", class: "nav-link active"
      - if current_resource.data.category != "Submissions"
        %li.nav-item
          = link_to sitemap.resources.group_by { |f| f.data['category'] }['Submissions'][0].data.title, prefix + "#{sitemap.resources.group_by { |f| f.data['category'] }['Submissions'][0].path}", class: "nav-link"


      - if current_resource.data.category == "Attending"
        %li.nav-item
          = link_to sitemap.resources.group_by { |f| f.data['category'] }['Attending'][0].data.title, prefix + "#{sitemap.resources.group_by { |f| f.data['category'] }['Attending'][0].path}", class: "nav-link active"
      - if current_resource.data.category != "Attending"
        %li.nav-item
          = link_to sitemap.resources.group_by { |f| f.data['category'] }['Attending'][0].data.title, prefix + "#{sitemap.resources.group_by { |f| f.data['category'] }['Attending'][0].path}", class: "nav-link"


      - if current_resource.data.category == "Venue"
        %li.nav-item
          = link_to sitemap.resources.group_by { |f| f.data['category'] }['Venue'][0].data.title, prefix + "#{sitemap.resources.group_by { |f| f.data['category'] }['Venue'][0].path}", class: "nav-link active"
      - if current_resource.data.category != "Venue"
        %li.nav-item
          = link_to sitemap.resources.group_by { |f| f.data['category'] }['Venue'][0].data.title, prefix + "#{sitemap.resources.group_by { |f| f.data['category'] }['Venue'][0].path}", class: "nav-link"


      - if current_resource.data.category == "About"
        %li.nav-item
          = link_to sitemap.resources.group_by { |f| f.data['category'] }['About'][0].data.title, prefix + "#{sitemap.resources.group_by { |f| f.data['category'] }['About'][0].path}", class: "nav-link active"
      - if current_resource.data.category != "About"
        %li.nav-item
          = link_to sitemap.resources.group_by { |f| f.data['category'] }['About'][0].data.title, prefix + "#{sitemap.resources.group_by { |f| f.data['category'] }['About'][0].path}", class: "nav-link"
