%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark{:role => "navigation"}
  %button.navbar-toggler{:type => "button", "data-toggle" => "collapse", "data-target" => "#navbarSupportedContent", "aria-controls" => "navbarSupportedContent", "aria-expanded" => false, "aria-label" => "Toggle navigation"}
    %span.navbar-toggler-icon
  .collapse.navbar-collapse.nav-tabs#navbarSupportedContent
    %ul.navbar-nav.mr-auto{:role => "presentation"}
      %li.nav-item.dropdown
        - if current_resource.data.category == "Home"
          %a.nav-link.dropdown-toggle.active{:href => "#", "data-toggle" => "dropdown", :role => "button", "aria-haspopup" => "true", "aria-expanded" => "false"}
            Neuroergonomics 2018
        - elsif current_resource.data.category != "Home"
          %a.nav-link.dropdown-toggle{:href => "#", "data-toggle" => "dropdown", :role => "button", "aria-haspopup" => "true", "aria-expanded" => "false"}
            Neuroergonomics 2018
        .dropdown-menu
          - sitemap.resources.group_by { |f| f.data['category'] }['Home'].reverse.each do |p|
            = link_to p.data.title, "/neuroergonomics/#{p.path}", class: 'dropdown-item'


      - if current_resource.data.category == "Registration"
        %li.nav-item
          = link_to sitemap.resources.group_by { |f| f.data['category'] }['Registration'][0].data.title, "/neuroergonomics/" + "#{sitemap.resources.group_by { |f| f.data['category'] }['Registration'][0].path}", class: "nav-link active"
      - if current_resource.data.category != "Registration"
        %li.nav-item
          = link_to sitemap.resources.group_by { |f| f.data['category'] }['Registration'][0].data.title, "/neuroergonomics/" + "#{sitemap.resources.group_by { |f| f.data['category'] }['Registration'][0].path}", class: "nav-link"


      - if current_resource.data.category == "Submission"
        %li.nav-item
          = link_to sitemap.resources.group_by { |f| f.data['category'] }['Submission'][0].data.title, "/neuroergonomics/" + "#{sitemap.resources.group_by { |f| f.data['category'] }['Submission'][0].path}", class: "nav-link active"
      - if current_resource.data.category != "Submission"
        %li.nav-item
          = link_to sitemap.resources.group_by { |f| f.data['category'] }['Submission'][0].data.title, "/neuroergonomics/" + "#{sitemap.resources.group_by { |f| f.data['category'] }['Submission'][0].path}", class: "nav-link"


      - if current_resource.data.category == "Program"
        %li.nav-item
          = link_to sitemap.resources.group_by { |f| f.data['category'] }['Program'][0].data.title, "/neuroergonomics/" + "#{sitemap.resources.group_by { |f| f.data['category'] }['Program'][0].path}", class: "nav-link active"
      - if current_resource.data.category != "Program"
        %li.nav-item
          = link_to sitemap.resources.group_by { |f| f.data['category'] }['Program'][0].data.title, "/neuroergonomics/" + "#{sitemap.resources.group_by { |f| f.data['category'] }['Program'][0].path}", class: "nav-link"


      - if current_resource.data.category == "Sponsors"
        %li.nav-item
          = link_to sitemap.resources.group_by { |f| f.data['category'] }['Sponsors'][0].data.title, "/neuroergonomics/" + "#{sitemap.resources.group_by { |f| f.data['category'] }['Sponsors'][0].path}", class: "nav-link active"
      - if current_resource.data.category != "Sponsors"
        %li.nav-item
          = link_to sitemap.resources.group_by { |f| f.data['category'] }['Sponsors'][0].data.title, "/neuroergonomics/" + "#{sitemap.resources.group_by { |f| f.data['category'] }['Sponsors'][0].path}", class: "nav-link"


      - if current_resource.data.category == "Venue"
        %li.nav-item
          = link_to sitemap.resources.group_by { |f| f.data['category'] }['Venue'][0].data.title, "/neuroergonomics/" + "#{sitemap.resources.group_by { |f| f.data['category'] }['Venue'][0].path}", class: "nav-link active"
      - if current_resource.data.category != "Venue"
        %li.nav-item
          = link_to sitemap.resources.group_by { |f| f.data['category'] }['Venue'][0].data.title, "/neuroergonomics/" + "#{sitemap.resources.group_by { |f| f.data['category'] }['Venue'][0].path}", class: "nav-link"


      - if current_resource.data.category == "Contact"
        %li.nav-item
          = link_to sitemap.resources.group_by { |f| f.data['category'] }['Contact'][0].data.title, "/neuroergonomics/" + "#{sitemap.resources.group_by { |f| f.data['category'] }['Contact'][0].path}", class: "nav-link active"
      - if current_resource.data.category != "Contact"
        %li.nav-item
          = link_to sitemap.resources.group_by { |f| f.data['category'] }['Contact'][0].data.title, "/neuroergonomics/" + "#{sitemap.resources.group_by { |f| f.data['category'] }['Contact'][0].path}", class: "nav-link"
