%h2.h2.text-center
  Conference Sponsors
.sponsors
  %h2.h2.text-center
    %span Diamond
  %hr
  .card-deck.diamond
    .card
      = image_tag "Drexel_Vertical_stacked_479.png", :class=> "card-img-top", :alt => "Drexel University School of Biomedical Engineering, Science and Health Systems"
      .card-body
        %p.card-text School of Biomedical Engineering, Science and Health Systems
        = link_to "Visit Website", "https://drexel.edu/biomed", :class => "card-link btn btn-outline-primary"

    .card
      = image_tag "airforce-research-laboratory.jpg", :class=> "card-img-top", :alt => "Air Force Research Lab (AFRL)"
      .card-body
        %p.card-text Air Force Research Lab (AFRL)
        = link_to "Visit Website", "http://www.wpafb.af.mil/afrl/", :class => "card-link btn btn-outline-primary"
  %br

  .card-deck.diamond
    .card
      = image_tag "biopac-systems-inc-logo.png", :class=> "card-img-top", :alt => "Biopac Systems Inc.", :style => "max-width: 15rem;"
      .card-body
        %p.card-text Biopac Systems Inc.
        = link_to "Visit Website", "https://biopac.com", :class => "card-link btn btn-outline-primary"
    .card
      = image_tag "brain-products-logo.png", :class=> "card-img-top", :alt => "Brain Products", :style => "max-width: 15rem;"
      .card-body
        %p.card-text Brain Products
        = link_to "Visit Website", "https://brainproducts.com", :class => "card-link btn btn-outline-primary"

  %br
  %br
  %h2.h2.text-center
    %span Platinum
  %hr
  .card-deck.platinum
    .card
      = image_tag "frontiers-logo.png", :class=> "card-img-top", :alt => "Frontiers"
      .card-body
        %p.card-text
        = link_to "Visit Website", "https://frontiersin.org", :class => "card-link btn btn-outline-primary"
    .card
      = image_tag "lockheed-martin-logo.png", :class=> "card-img-top", :alt => "Lockheed Martin"
      .card-body
        %p.card-text Advanced Technology Laboratories
        = link_to "Visit Website", "https://www.lockheedmartin.com/us/atl.html", :class => "card-link btn btn-outline-primary"
  %br
  %br
  %h2.h2.text-center
    %span Gold
  %hr
  .card-deck.gold
    .card
      = image_tag "gtec_logo_manual.jpg", :class=> "card-img-top", :alt => "g.tec", :style => "width: 125px;"
      .card-body
        %p.card-text
          = link_to "Visit Website", "http://gtec.at", :class => "card-link btn btn-outline-primary"

    .card
      = image_tag "mBT_vertical.png", :class=> "card-img-top", :alt => "mBrain Train", :style => "width: 135px;"
      .card-body
        %p.card-text
          = link_to "Visit Website", "http://www.mbraintrain.com", :class => "card-link btn btn-outline-primary"
    .card
      = image_tag "nirx.png", :class=> "card-img-top", :alt => "NIRX", :style => "width: 135px;"
      .card-body
        %p.card-text
          = link_to "Visit Website", "http://nirx.net", :class => "card-link btn btn-outline-primary"
  %br
  %br

  .card-deck.gold
    .card
      = image_tag "cognionics-logo.png", :class=> "card-img-top", :alt => "Cognionics"
      .card-body
        %p.card-text
          = link_to "Visit Website", "http://www.cognionics.com", :class => "card-link btn btn-outline-primary"
    .card
      = image_tag "Wearable_Sensing_Logo.png", :class=> "card-img-top", :alt => "Wearable Sensing"
      .card-body
        %p.card-text
          = link_to "Visit Website", "http://wearablesensing.com", :class => "card-link btn btn-outline-primary"
    .card
      = image_tag "antneuro_logo.jpg", :class=> "card-img-top", :alt => "ant neuro inspiring technology"
      .card-body
        %p.card-text
          = link_to "Visit Website", "https://ant-neuro.com", :class => "card-link btn btn-outline-primary"
%br
%br