---
category: 'Home'
title: 'Overview'
i: 1
page_classes: 'home'
meta_keywords: '2nd International, Neuroergonomics Conference, Drexel University, Philadelphia, Raja Parasuraman, Paris, research, cutting-edge, invitation, understanding the brain'
meta_description: 'Join hundreds of scientists, researchers, and industry colleagues for two full days of exciting presentations from world-leading scientists on Neuroergonomics research.'
---

= data["alias"]

%h1.h1.text-center
  International Neuroergonomics Conference 2018 Philadelphia

%p Join hundreds of scientists, leading researchers, and interested industry colleagues for three days of high-value and exciting presentations from the community’s world-leading scientists on the cutting edge of exciting new areas of Neuroergonomics research.

%p
  %strong The 2nd International Neuroergonomics Conference will be held at Drexel University, Philadelphia, PA USA, June 27-29, 2018.

  Neuroergonomics has witnessed extensive growth since its development a decade ago with the understanding of the brain at work and in everyday life. Following the success of the <a href="https://websites.isae-supaero.fr/neuroergonomics-2016/neuroergonomics-2016/about-neuroergonomics/what-s-neuroergonomics">inaugural Neuroergonomics conference</a> in Paris, the time is right to take stock of the achievements of neuroergonomics research, discuss key questions and develop new ideas for the future. This is the purpose of the Neuroergonomics 2018 Conference.

%p
  In memorandum of <strong>Raja Parasuraman</strong>, there will be two <strong>Parasuraman prizes</strong> to reward the best student paper and the best senior paper. Moreover, the best abstracts will be pre-selected for an extended version to be published in a special issue.

%p All submitted abstracts will be peer-reviewed by independent referees from the international program boards. Submissions are welcome from all aspects of Neuroergonomics research from theoretical category that deals with models, concepts, and structures; to applied category that demonstrates translation of research towards practical innovation.

%p In collaboration with the journal <a href="https://www.frontiersin.org/research-topics/7089/neuroergonomics-the-brain-at-work-in-everyday-settings">Frontiers in Human Neuroscience</a>, an article collection will be organized to include invited full papers that are extended from the select abstract submissions.
%hr.my-4
/ ----------------------------------------------------------------------
%h2.h2.text-center
  %span Keynote Speakers
%p <strong>Michael Posner</strong>, Professor Emeritus at the University of Oregon and Adjunct Professor at the Weill Medical College in New York (Sackler Institute)
%p <strong>Scott Makeig</strong>, Research Scientist & Director, Swartz Center for Computational Neuroscience (SCCN) · Institute for Neural Computation (INC) University of California San Diego (UCSD)
%p <strong>Danielle Bassett</strong>, Eduardo D. Glandt Faculty Fellow and Associate Professor of Bioengineering, University of Pennsylvania

%hr.my-4
/ ----------------------------------------------------------------------
%h2.h2.text-center
  %span Publications
%ol
  %li
    %strong Conference Proceedings:
    All accepted abstracts will be assigned a doi number, published by Frontiers and will be indexed and searchable online for citations.

  %li
    %strong Journal Publication:
    The Journal of Frontiers in Human Neuroscience (IF:3.2) will publish expanded versions of accepted conference submissions. Attendees are encouraged to contribute to the research topic:

%p.text-center
  = link_to "Neuroergonomics: the Brain at Work in Everyday Settings", "https://www.frontiersin.org/research-topics/7089/neuroergonomics-the-brain-at-work-in-everyday-settings", :class => "btn btn-outline-primary"

%p Attendees are also encouraged to submit to the International Annual BCI-Research Award, endowed with 6,000 USD, is one of the top accolades in BCI research.

%p.text-center
  = link_to "http://www.bci-award.com/Home" do
    = image_tag "BCI-Award.png", :alt => "Annual BCI Award 2018"

%hr.my-4
/ ----------------------------------------------------------------------
%h2.h2.text-center
  %span Conference Sponsors
%h2.h2.text-center
  Diamond

.sponsors
  .card-deck
    .card{style: "width: 15rem;"}
      = image_tag "Drexel_Vertical_stacked_479.png", :class=> "card-img-top", :alt => "%p Drexel University School of Biomedical Engineering, Science and Health Systems"
      .card-body
        %p.card-text School of Biomedical Engineering, Science and Health Systems
        = link_to "Visit Website", "https://drexel.edu/biomed", :class => "card-link"

    .card{style: "width: 15rem;"}
      = image_tag "afrl-logo.png", :class=> "card-img-top", :alt => "%p Air Force Research Lab (AFRL)"
      .card-body
        %p.card-text Air Force Research Lab (AFRL)
        = link_to "Visit Website", "http://www.wpafb.af.mil/afrl/", :class => "card-link"

    .card{style: "width: 15rem;"}
      = image_tag "biopac-systems-inc-logo.png", :class=> "card-img-top", :alt => "%p Air Force Research Lab (AFRL)"
      .card-body
        %p.card-text Biopac Systems Inc.
        = link_to "Visit Website", "https://biopac.com", :class => "card-link"

  %h2.h2.text-center
    Platinum
  .card{style: "width: 12rem;"}
    = image_tag "frontiers-logo.png", :class=> "card-img-top", :alt => "%p Frontiers"
    .card-body
      %p.card-text Frontiers
      = link_to "Visit Website", "https://frontiersin.org", :class => "card-link"

  %h2.h2.text-center
    Gold
  .card{style: "width: 10rem;"}
    = image_tag "gtec_logo_manual.jpg", :class=> "card-img-top", :alt => "%p g.tec"
    .card-body
      %p.card-text g.tec
      = link_to "Visit Website", "http://gtec.at", :class => "card-link"