---
category: 'Home'
title: 'Overview'
i: 1
page_classes: 'home'
meta_keywords: '2nd International, Neuroergonomics Conference, Drexel University, Philadelphia, Raja Parasuraman, Paris, research, cutting-edge, invitation, understanding the brain'
meta_description: 'Join hundreds of scientists, researchers, and industry colleagues for two full days of exciting presentations from world-leading scientists on Neuroergonomics research.'
---

%h1.h1.text-center
  International Neuroergonomics Conference 2018 Philadelphia


%p Join hundreds of scientists, leading researchers, and interested industry colleagues for three days of high-value and exciting presentations from the community’s world-leading scientists on the cutting edge of exciting new areas of Neuroergonomics research.

%p.text-center
  = partial "partials/buttons/register"

%p
  %strong The 2nd International Neuroergonomics Conference will be held at Drexel University, Philadelphia, PA USA, June 27-29, 2018.

  Neuroergonomics has witnessed extensive growth since its development a decade ago with the understanding of the brain at work and in everyday life. Following the success of the <a href="https://websites.isae-supaero.fr/neuroergonomics-2016/neuroergonomics-2016/about-neuroergonomics/what-s-neuroergonomics">inaugural Neuroergonomics conference</a> in Paris, the time is right to take stock of the achievements of neuroergonomics research, discuss key questions and develop new ideas for the future. This is the purpose of the Neuroergonomics 2018 Conference.

%p
  In memorandum of <strong>Raja Parasuraman</strong>, there will be two <strong>Parasuraman prizes</strong> to reward the best student paper and the best senior paper. Moreover, the best abstracts will be pre-selected for an extended version to be published in a special issue.

%p All submitted abstracts will be peer-reviewed by independent referees from the international program boards. Submissions are welcome from all aspects of Neuroergonomics research from theoretical category that deals with models, concepts, and structures; to applied category that demonstrates translation of research towards practical innovation.

%p In collaboration with the journal <a href="https://www.frontiersin.org/research-topics/7089/neuroergonomics-the-brain-at-work-in-everyday-settings">Frontiers in Human Neuroscience</a>, an article collection will be organized to include invited full papers that are extended from the select abstract submissions.
%hr.my-4
/ ----------------------------------------------------------------------
%h2.h2.text-center
  %span Keynote Speakers
%p <strong>Carryl Baldwin</strong>, Director, Human Factors and Applied Cognition Program, Associate Professor, Department of Psychology, George Mason University, Fairfax, VA USA

%p <strong>Marom Bikson</strong>, Professor, Department of Biomedical Engineering, The City College of New York, New York, NY, USA

%p <strong>Daniel Callan</strong>, Principle Investigator, Center for Information and Neural Networks, National Institute of Information and Communications Technology, Osaka University, Osaka, Japan

%p <strong>Ricardo Chavarriaga</strong>, Research Scientist, Defitech Foundation Chair in Brain-machine Interface, School of Engineering, Ecole Polytechnique Fédérale de Lausanne EPFL, Lausanne, Switzerland

%p <strong>Lewis Chuang</strong>, Group Leader, Max Planck Institute for Biological Cybernetics, Tubingen, Germany

%p <strong>Ippeita Dan</strong>, Professor, Institute of Science and Engineering, Chuo University, Tokyo, Japan

%p <strong>Frederic Dehais</strong>, Professor, Institut Supérieur de l'Aéronautique et de l'Espace (ISAE), Toulouse, France

%p <strong>Klaus Gramann</strong>, Professor, Department of Psychology and Ergonomics, Chair Biological Psychology and Neuroergonomics, Technische Universität Berlin, Berlin, Germany

%p <strong>Roy Hamilton</strong>, Director, Laboratory for Cognition and Neural Stimulation, Associate Professor, Departments of Neurology and Physical Medicine and Rehabilitation, University of Pennsylvania, Philadelphia, PA, USA

%p <strong>Sid Kouider</strong>, Research Director, Laboratoire de Sciences Cognitives et Psycholinguistique, Ecole Normale Supèrieure, Paris, France

%p <strong>John Kounios</strong>, Director, Doctoral Program in Applied Cognitive and Brain Sciences, Director, Creativity Research Lab, Professor of Psychology, Drexel University, Philadelphia, PA, USA

%p <strong>Thorsten Zander</strong>, Leader of Team PhyPA, Department of Biological Psychology and Neuroergonomics, Technische Universität Berlin, Berlin, Germany


%hr.my-4
/ ----------------------------------------------------------------------
%h2.h2.text-center
  %span Publications
%ol
  %li
    %strong Conference Proceedings:
    All accepted abstracts will be assigned a doi number, published by Frontiers and will be indexed and searchable online for citations.

  %li
    %strong Journal Publication:
    The Journal of Frontiers in Human Neuroscience (IF:3.2) will publish expanded versions of accepted conference submissions. Attendees are encouraged to contribute to the research topic:

%p.text-center
  = link_to "Neuroergonomics: the Brain at Work in Everyday Settings", "https://www.frontiersin.org/research-topics/7089/neuroergonomics-the-brain-at-work-in-everyday-settings", :class => "btn btn-outline-primary"

%p Attendees are also encouraged to submit to the International Annual BCI-Research Award, endowed with 6,000 USD, is one of the top accolades in BCI research.

%p.text-center
  = link_to "http://www.bci-award.com/Home" do
    = image_tag "BCI-Award.png", :alt => "Annual BCI Award 2018"

%br
%br
/ ----------------------------------------------------------------------
= partial "partials/cards/sponsors"